
body {
	font-family: 'Droid Sans';
	background: #fff;
	color: #000000;
	font-size: 12px;
}



/* Header
=================================================================== */
	
header {
	height: 39px !important;
	margin-bottom: 25px;
	background: rgba(255,255,255,1) !important;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	        box-shadow: 0px 1px 1px rgba(0,0,0,.35);
}

.logo  {}

.navbar-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
	position: relative;
	z-index: 9999;
}

.navbar {
	padding: 6px;
	/*height: 38px !important;*/
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.search {
	font-size: 20px;
	padding: 12px;
	text-align: right;
}

.search input{
	width: 0px;
	border: none;
	background: transparent url(../img/search-ico-alt.png) no-repeat 5px center;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
	padding-left: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.search input.activeSearch {
	background: transparent url(../img/ajax-loader.gif) no-repeat 5px center !important;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.search input:focus{
	width: 200px;
	outline: none !important;
	border-bottom: 1px solid #646464;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none; 
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.navbar-fixed-top {
	background: rgba(255,255,255,.8) !important;
	min-height: initial;
	padding: 0;
	/*background: #ffffff;*/
	webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.navbar-fixed-top .navbar-inner {
	background: rgba(255,255,255,.8) !important;
    /*background: #ffffff;*/
}

.navbar-brand {
	height: initial;
	padding: 0;
}
/*.navbar, */
/*.navbar-inner, */
/*.nav,*/
/*.navbar-inverse {*/
	/*background: transparent !important;*/
	/*filter: none !important;*/
	/*border: none;*/
	/*-webkit-box-shadow: none;*/
       /*-moz-box-shadow: none;*/
          	/*box-shadow: none;*/
	/*padding: 0px;*/
	/*margin: 0px;*/
	/*text-align: center;*/
/*}*/

.navbar .nav,
.navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.navbar .nav > li > a {
	color: #414141;
	border-top: 0px solid transparent;
	text-shadow: none;
	font-size: 14px;
	padding: 7px 20px;
	padding: 7px 10px \9;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	background: #080808 !important;		
  	color: #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #080808 !important;	
  	text-decoration: none;
  	background-color: transparent !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav > .active > a:hover {
  	background: #080808 !important;		
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav .active a:hover > .caret {
  	border-top-color: #fff !important;	
  	border-bottom-color: #fff !important;	
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  	color: #ffffff;
  	background: #080808 !important;	
}

.dropdown-menu .active > a {
	color: #ffffff !important;
  	background: #080808 !important;
}
.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #080808 !important;	
}

.navbar .btn-navbar {
	border: none;
	background: #fbfbf9;
	color: #222222 !important;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
	   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
		    box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
	text-shadow: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	margin: 0px !important;		
}

.navbar .btn-navbar:hover {
	background: #fbfbf9;
	text-shadow: 0 0 1px #222222;
	color: #222222 !important;
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
	   -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
		    box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;	
}

.nav .active .dropdown-toggle .caret {
  	border-top-color: #080808 !important;	
  	border-bottom-color: #080808 !important;	
}

.btn span {
    -webkit-text-stroke: 0 !important;
    color: transparent !important;
    background-color: #222 !important;
    -webkit-background-clip: text !important;
    text-shadow: rgba(255,255,255,0.5) 0 1px 1px, rgba(255,255,255,0.2) 1px 1px 1px !important;
    -webkit-transition: text-shadow .3s ease-out, background-color .4s ease-out !important;
}

.btn-overlay {
    display: inline-block;
    background: rgb(235,234,232);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(235,234,232,1) 1%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(235,234,232,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(235,234,232,1) 1%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(235,234,232,1) 1%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,234,232,1) 1%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(235,234,232,1) 1%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeae8', endColorstr='#ffffff',GradientType=0 );
    border-top: 1px solid #dededc;
    border-bottom: 1px solid #f6f6f6;
    border-left: none;
    border-right: none;
    padding: 4px 5px 5px 5px;
    margin: 5px;
    -webkit-box-shadow: inset rgba(0,0,0,0.05) 0px 5px 6px;
    -moz-box-shadow: inset rgba(0,0,0,0.05) 0px 5px 6px;
    box-shadow: inset rgba(0,0,0,0.05) 0px 5px 6px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/*/!* Higher than 960 (desktop devices)*/
/*====================================================================== *!/*/
/*@media (min-width: 1200px) {*/

	/*.navbar-inner > .btn-overlay {*/
		/*display: none !important;*/
	/*}*/

/*}*/

/*/!* Higher than 960 (desktop devices)*/
/*====================================================================== *!/*/
/*@media only screen and (min-width: 980px) and (max-width: 1199px){*/

	/*.navbar-inner > .btn-overlay {*/
		/*display: none !important;*/
	/*}*/

	/*.navbar .nav > li > a {*/
		/*padding: 7px 15px;*/
		/*padding: 7px 15px \9;*/
	/*}*/

	/*.search input:focus{*/
		/*width: 120px;*/

	/*}*/

/*}*/

/*/!* Tablet Portrait (devices and browsers)*/
/*====================================================================== *!/*/
/*@media only screen and (min-width: 768px) and (max-width: 979px) {*/

	/*.navbar,*/
	/*.navbar-inner,*/
	/*.nav,*/
	/*.navbar-inverse {*/
		/*float: none !important;*/
	/*}*/

	/*.navbar .nav > li > a {*/
		/*padding: 5px 20px;*/
		/*-webkit-transition: all 0.3s ease-in-out;*/
		/*-moz-transition: all 0.3s ease-in-out;*/
		/*-o-transition: all 0.3s ease-in-out;*/
		/*-ms-transition: all 0.3s ease-in-out;*/
		/*transition: all 0.3s ease-in-out;*/
	/*}*/

	/*.search input:focus{*/
		/*width: 170px;*/
		/*margin-left: -100px;*/

	/*}*/

/*}*/

 /*/!*All Mobile Sizes (devices and browser)*!/*/
/*/!*====================================================================== *!/*/
/*@media only screen and (max-width: 767px) {*/

	/*.navbar .nav > li > a {*/
		/*color: #666;*/
		/*border-top:4px solid transparent;*/
		/*text-shadow: none;*/
		/*font-size: 12px;*/
		/*padding: 5px 20px;*/
		/*-webkit-transition: all 0.3s ease-in-out;*/
		/*-moz-transition: all 0.3s ease-in-out;*/
		/*-o-transition: all 0.3s ease-in-out;*/
		/*-ms-transition: all 0.3s ease-in-out;*/
		/*transition: all 0.3s ease-in-out;*/

	/*}*/

	/*#contact-details {*/
		/*text-align: center;*/
		/*float: left;*/
	/*}*/

	/*#filters,*/
	/*#portfolio-navi {*/
		/*position: relative;*/
		/*text-align: left;*/
		/*display: block;*/
		/*margin: 0 0 23px 0;*/
	/*}*/

	/*#portfolio-navi {*/
		/*margin: -5px 0 25px 0;*/
	/*}*/

	/*.portfolio-item {*/
		/*margin: 5px 0 25px 0 !important;*/
	/*}*/
    /*.navbar .navbar-fixed-top,*/
    /*.navbar-inner {*/
        /*position: static;*/
    /*}*/


/*}*/

 /*/!*Mobile Landscape Size to Tablet Portrait (devices and browsers)*!/*/
/*/!*====================================================================== *!/*/
/*@media only screen and (min-width: 480px) and (max-width: 767px) {*/

	/*body {*/
		/*padding-bottom: 20px;*/
	/*}*/

/*}*/

 /*/!*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*!/*/
/*/!*=================================================================== *!/*/
/*@media only screen and (max-width: 479px) {*/

	/*body {*/
		/*padding: 0px;*/
	/*}*/

/*}*/